body {
  margin: 0;
  font-family: Inter, 'Segoe UI', Roboto, Arial, sans-serif;
  background: #f7f9fc;
  color: #101828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
